# Python virtual environment
myenv/
venv/
env/

# Mock data folder
mock/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE settings
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Environment variables
.env
.env.local

# System files
.DS_Store
Thumbs.db